/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DECLARE GLOBAL VARIABLE */
:root {
    --blue-bk: #0a192f;
    --text-light: #8892b0;
    --another: #ccd6f6;
    --white-c: #fff;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'poppins', sans-serif;
    overflow: hidden;
}


/* WRAPPER */

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--blue-bk);
}

.container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
}


/* FORM TEXT */

h2 {
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--another);
}

p {
    color: var(--text-light);
}

p a{
    text-decoration: none;
    color: var(--another);
}

.form-text {
    position: relative;
    width: 700px;
    line-height: 40px;
    top: 10px;
}

/* FORM FIELDS */

form{
    position: relative;
    top: -40px;
    margin-left: -100px;
}

label, form {
    color: var(--another);
}

input
 {
    display: block;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    margin: 5px 0 25px;
    padding: 20px;
    outline: none;
    background: transparent;
    border: 1px solid var(--text-light);
    transition: 0.5s;
    color: var(--another);
    font-size: 16px;
}
input[type=text] {
min-height: 100px;
}
input:hover {
    transform: scale(1.03);
}

input:focus,
input:active {
    background: var(--text-light);

}

.drop {
    display: block;
    transition: 0.8s;
    color: var(--another);
    width: 350px;
    height: auto;
    border-radius: 5px;
    margin: 10px 0 25px;
    padding: 10px;
    outline: none;
    background: transparent;
    border: 1px solid var(--text-light);
    transition: 0.5s;
}

option {
background: var(--text-light);
height: 20px;
border-bottom:  1px solid var(--text-light);
color: black;
}


.btn {
  width: 350px;
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  color: var(--white-c);
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  border: 1px solid var(--text-light);
  transition: 0.5s;
}


.btn:hover{
  background: var(--text-light);
  border: none;
  transform: scale(1.03);
  color: var(--blue-bk);
  font-weight: 700;
}

.vertical {
    height: 200px;
    border-left: 1px solid var(--text-light);
    opacity: 0.4;
    position: absolute;
    left: 50%;
}